[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule ".eso/pipes.sh"]
	path = .eso/pipes.sh
	url = git://github.com/livibetter/pipes.sh.git
[submodule ".eso/pipesX.sh"]
	path = .eso/pipesX.sh
	url = git://github.com/livibetter/pipesX.sh.git
[submodule ".eso/screenFetch"]
	path = .eso/screenFetch
	url = git://github.com/KittyKatt/screenFetch.git
[submodule ".urxvt/ext/urxvt-font-size"]
	path = .urxvt/ext/urxvt-font-size
	url = git@github.com:majutsushi/urxvt-font-size.git
